@font-face {
    font-family: canterbury;
    src: url("/fonts/canterbury.regular.ttf") format("truetype");
}

@font-face {
    font-family: canterbury;
    font-weight: bold;
    src: url("/fonts/canterbury.regular.ttf") format("truetype");
}

.transition {
    transition: all 0.3s ease-in-out;
}